<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Zero{% endblock title %}</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.sparkline.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/highcharts/js/highcharts.src.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/highstock/js/highstock.src.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/rickshaw.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/zero.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="icon" type="image/png" href="/static/img/zero-black-icon-16.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/zero-black-icon-16.png"/>
    {% block head %}{% endblock head %}
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="{% url 'home-view' %}" class="home-view">Zero</a></li>
            <li><a href="{% url 'account-details' %}" class="account-details">{{ user.username }}</a></li>
            <li><a href="{% url 'index-list' %}" class="index-list">Indexes</a></li>
            <li><a href="{% url 'sector-list' %}" class="sector-list">Sectors</a></li>
            <li><a href="{% url 'company-movers-today' %}" class="movers-today">Movers</a></li>
        </ul>
    </div>
</div>
<!--
<div id="nav-bar">
    <ul>
        <li><a href="{% url 'home-view' %}" class="home-view">Zero</a></li>
        <li><a href="{% url 'account-details' %}" class="account-details">{{ user.username }}</a></li>
        <li><a href="{% url 'index-list' %}" class="index-list">Indexes</a></li>
        <li><a href="{% url 'sector-list' %}" class="sector-list">Sectors</a></li>
        <li><a href="{% url 'company-movers-today' %}" class="movers-today">Movers</a></li>
    </ul>
</div>
-->
<div id="page-title">{% block page_title %}{% endblock page_title %}</div>
<div id="content" class="container-fluid">{% block content %}{% endblock content %}</div>
</body>
</html>
