<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Zero{% endblock title %}</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/jquery.sparkline.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/highstock/js/highstock.src.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/highcharts/js/highcharts.src.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock head %}
</head>
<body>
<div id="nav-bar">
    <ul>
        <li><a href="/account/details">{{ user.username }}</a></li>
        <li><a href="/company">Companies</a></li>
    </ul>
</div>
<div id="content">
{% block page_title %}{% endblock page_title %}
{% block content %}{% endblock content %}
</div>
</body>
</html>
