body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    position: relative;
}
#content {
    padding: 30px 20px;
}
#nav-bar {
    background-color: #333;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    z-index: 99999;
}
#nav-bar ul {
    margin: 0;
    padding: 0 0 0;
    list-style-type: none;
    overflow: hidden;
}
#nav-bar li {
    margin: 0;
    padding: 0;
    display: inline;
}
#nav-bar a {
    color: #EEE;
    text-decoration: none;
    padding: 8px 15px;
    display: block;
    float: left;
}
#nav-bar a:hover {
    background-color: #222;
}
#nav-bar .home-view {
    background: #333 url(../img/zero-white-icon-16.png) no-repeat center center;
    padding-lef2t: 30px;
    width: 16px;
    text-indent: -1000000px;
    
}

.styled th, .styled td {
    padding: 5px;
    text-align: left;
}
.styled th {
    font-weight: 700;
    background: #CCC;
}
.styled .odd {
    background: #EEE;
}
.styled .even {
}
.styled th.number {
    text-align: right;
}
.styled td.number {
    text-align: right;
    font-family: 'Droid Sans Mono', monospace;
}

.section-title {
    color: #C60;
    margin: 10px 0;
}
h1.section-title { font-size: 200%; }
h2.section-title { font-size: 180%; }
h3.section-title { font-size: 160%; }
h4.section-title { font-size: 100%; }
h5.section-title { font-size: 90%; }
h6.section-title { font-size: 80%; }

.pos {
    color: #009900;
}
.neg {
    color: #990000;
}
.neu {
    color: inherit;
}
.date-list {
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0;
}
.date-list li {
    margin: 0;
    padding: 0;
    display: inline;
}
.date-list a {
    margin-right: 10px;
}
.date-list .on {
    font-weight: bold;
}
.date-list .off {

}
