{% extends "base.html" %}
{% block page_title %}
    <div class="company-header">
        <div class="left-col">
            <div class="company-price">${{ company.latest_price.closed }}</div>
            <div class="company-date"><a href="{% url company-movers company.latest_price.date.year, company.latest_price.date.month, company.latest_price.date.day %}" class="company-movers">{{ company.latest_price.date|date:"Y-m-d" }}</a></div>
        </div>
        <div class="mid-col">
            <div class="company-name">{{ company.name }}</div>
            <div class="company-symbol"><a href="{{ company.google_url }}">{{ company.exchange }}:{{ company.symbol }}</a></div>
        </div>
        <div class="right-col">
            <div class="company-location">{{ company.location }}</div>
            <div class="company-sector">{{ company.get_sector_display }}</div>
        </div>
    </div>
{% endblock page_title %}
{% block content %}
    <style type="text/css">
        .company-header {
            padding: 50px 20px 20px 20px;
            overflow: hidden;
            background-color: #EEE;
        }
        .company-header .left-col {
            float: left;
            margin-right: 30px;
        }
        .company-header .right-col {
            float: left;
            margin-right: 30px;
        }
        .company-header .mid-col {
            float: left;

            margin-right: 30px;
        }
        .company-name {
            font-size: 24px;
            font-weight: bold;
        }
        .company-symbol {
            font-size: 12px;
            color: #999;
            font-weight: normal;
        }
        .company-location {
            font-size: 11px;
        }
        .company-sector {
            font-size: 11px;
        }
        .company-price {
            font-size: 24px;
            font-weight: bold;
        }
        .company-date {
            
        }
        .company-date .company-movers:link,
        .company-date .company-movers:visited {
            text-decoration: none;
            color: #999;
        }
    </style>


    <div id="stock-chart"></div>
    <div id="tweet-chart"></div>

<script type="text/javascript">
    $.ajax({
        url: '/company/ohlc/{{ company.symbol }}/99999?callback=?',
        dataType: 'json',
        success: function(data) {
            for (var i = 0, il = data.length; i < il; i++) {
                data[i][0] = data[i][0] * 1000;
            }
            window.chart = new Highcharts.StockChart({
                chart : { renderTo : 'stock-chart' },
                rangeSelector : { selected : 1 },
                series : [{
                    name : '{{ company.symbol }}',
                    data : data,
                    tooltip: { valueDecimals: 2 }
                }]
            });
        }
    });


    $.ajax({ 
        url: 'http://otter.topsy.com/searchhistogram.js?q=${{ company.symbol }}&period=90&callback=?',
        dataType: 'json',
        success: function(data) {
            var cat_map = {};
            var points = $.extend([],data.response.histogram);
            var oneday = 60 * 60 * 24 * 1000;
            var current = new Date().getTime();
            console.log('current: ' + (new Date()));
            var categories = []
            points.reverse();
            for (var i = 0, il = points.length; i < il; i++) {
                var date = new Date(current - (oneday * i));
                var str = (date.getMonth() + 1) + '/' + date.getDate();
                cat_map[str] = date;
                categories.push(str);
            }
            categories.reverse();
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'tweet-chart',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                xAxis: {
                    categories: categories,
                    labels: {
                        step: 7
                    }
                },
                yAxis: {
                    title: { text: 'Mentions' },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                title: { 
                    text: 'Mentions for ${{ company.symbol }}'
                },
                tooltip: {
                    formatter: function() { return '<b>'+ this.series.name +'</b><br/>'+ this.x +': '+ this.y +' Mentions'; }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 100,
                    borderWidth: 0
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function() {
                                    var q = this.series.name;
                                    var date = cat_map[this.category];
                                    console.log(date);
                                    var ts = Math.round(date/1000) - (60*60*24);
                                    var url = 'http://topsy.com/s?q=' + encodeURIComponent(q) + '&mintime=' + ts;
                                    window.open(url,'_blank');
                                    return;

                                    
                                    hs.htmlExpand(null, {
                                        pageOrigin: { x: this.pageX, y: this.pageY },
                                        headingText: this.series.name,
                                        maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+ this.y +' visits',
                                        width: 200
                                    });
                                }
                            }
                        },
                        marker: {
                            lineWidth: 1
                        }
                    }
                },
                series: [{
                    name: '${{ company.symbol }}',
                    data: points
                }]
            });

        }
    });

    
</script>
{% endblock %}
