{% extends "base.html" %}
{% load number_extras %}
{% block head %}{% endblock head %}
{% block content %}
<select id="days">
    <option value="7">7 Days</option>
    <option value="14">14 Days</option>
    <option value="30" selected="selected">30 Days</option>
    <option value="60">60 Days</option>
    <option value="90">90 Days</option>
</select>
<button id="go">Go</button>
<table class="styled">
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Past 30 Days</th>
        <th class="number">Price</th>
        <th class="number">High</th>
        <th class="number">Low</th>
        <th class="number">Oldest</th>
    </tr>
    {% for i in list %}
        <tr data-symbol="{{ i.symbol }}" class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url company-details i.symbol %}">{{ i.symbol }}</a></td>
            <td>
                {{ i.name }}<br/>
                {{ i.sector }}
            </td>
            <td class="sparkline-col"></td>
            <td class="number latest-col"></td>
            <td class="number high-col"></td>
            <td class="number low-col"></td>
            <td class="number oldest-col"></td>
        </tr>
    {% endfor %}
</table>
<script type="text/javascript">
$('#days').change(function() {
    load_stats({ days: $(this).val() });
});
$('#go').click(function() {
    load_stats({ days: $('#days').val() });
});
function load_stats(options) {
    $('tr[data-symbol]').each(function(idx, i) {
        var $this = $(i);
        var spcol = $this.find('.sparkline-col');
        var symbol = $this.data('symbol');
        var days = options.days;
        $.ajax({
            url: '/company/ohlc/' + symbol + '/' + days + '?callback=?',
            dataType: 'json',
            success: function(data) {
                var ohlc = [];
                var stats = { high: 0, low: 1000000000, current: 0, oldest: 0 };
                for (var i = 0, il = data.length; i < il; i++) {
                    var line = { date: new Date(data[i][0] * 1000), open: data[i][1], high: data[i][2], low: data[i][3], close: data[i][4] };
                    ohlc.push(line);
                    if (line.close > stats.high) { stats.high = line.close; }
                    if (line.close < stats.low) { stats.low = line.close; }
                }
                stats.oldest            = ohlc[0].close;
                stats.current           = ohlc[ohlc.length-1].close;
                stats.high_diff         = parseFloat((stats.high - stats.current).toFixed(2));
                stats.low_diff          = parseFloat((stats.low - stats.current).toFixed(2));
                stats.high_diff_pct     = parseFloat(((stats.high_diff / stats.current) * 100).toFixed(1));
                stats.low_diff_pct      = parseFloat(((stats.low_diff / stats.current) * 100).toFixed(1));
                stats.oldest_diff       = parseFloat((stats.oldest - stats.current).toFixed(2));
                stats.oldest_diff_pct   = parseFloat(((stats.oldest_diff / stats.current) * 100).toFixed(1));
                if (stats.low === 1000000000) { stats.low = 0; }
                console.log(stats);
                sparkline_values = []
                for (var i = 0, il = ohlc.length; i < il; i++) {
                    sparkline_values.push(ohlc[i].close);
                }
                var span = $('<div/>', { 'class': 'sparkline', values: sparkline_values.join(',') }).appendTo(spcol);
                span.sparkline('html', { width: '100%', height: '32px', lineColor: '#999', fillColor: '#DDD', spotColor: '#000', minSpotColor: '#C00', maxSpotColor: '#0C0' });
                $this.data('stats', data);
                $('<div/>', { html: '$' + stats.current }).appendTo($this.find('.latest-col'));

                $('<div/>', { 'class': Zero.number_class(stats.high_diff), html: '$' + stats.high }).appendTo($this.find('.high-col'));
                $('<div/>', { 'class': Zero.number_class(stats.high_diff), html: stats.high_diff_pct + '%' }).appendTo($this.find('.high-col'));

                $('<div/>', { 'class': Zero.number_class(stats.low_diff), html: '$' + stats.low }).appendTo($this.find('.low-col'));
                $('<div/>', { 'class': Zero.number_class(stats.low_diff), html: stats.low_diff_pct + '%' }).appendTo($this.find('.low-col'));

                $('<div/>', { 'class': Zero.number_class(stats.oldest_diff_pct), html: '$' + stats.oldest }).appendTo($this.find('.oldest-col'));
                $('<div/>', { 'class': Zero.number_class(stats.oldest_diff_pct), html: stats.oldest_diff + '%' }).appendTo($this.find('.oldest-col'));
            }
        });
    });
}
</script>
{% endblock content %}
