{% extends "base.html" %}
{% load number_extras %}
{% block head %}{% endblock head %}
{% block content %}
<h1 class="section-title">{{ date|date:"l - M d, Y" }}</h1>
<ul class="date-list">
    {% for i in dates %}
        <li class="{% if i == date %}on{% endif %}{% if i != date %}off{% endif %}">
            {% if i.weekday == 5 or i.weekday == 6 %}
                <span class="weekend">{{ i|date:"Y-m-d" }}</span>
            {% else %}
                <a href="{% url company-movers i.year, i.month, i.day %}">{{ i|date:"Y-m-d" }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<table class="styled">
    <thead>
    <tr>
        <th>Symbol <span class="sorter"></span></th>
        <th>Company <span class="sorter"></span></th>
        <th>Opened <span class="sorter"></span></th>
        <th>High <span class="sorter"></span></th>
        <th>Low <span class="sorter"></span></th>
        <th>Closed <span class="sorter"></span></th>
        <th>Change <span class="sorter"></span></th>
        <th>Change Pct <span class="sorter"></span></th>
    </tr>
    </thead>
    <tbody>
    {% for i in prices %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url company-details i.company.symbol %}">{{ i.company.symbol }}</a></td>
            <td>{{ i.company.name }}</td>
            <td class="number">${{ i.opened }}</td>
            <td class="number">${{ i.high }}</td>
            <td class="number">${{ i.low }}</td>
            <td class="number">${{ i.closed }}</td>
            <td class="number {{ i.change_pct|number_class }}">${{ i.change }}</td>
            <td class="number {{ i.change_pct|number_class }}">{{ i.change_pct }}%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{date}}
{{prices}}
<script type="text/javascript">
$(document).ready(function() {
    $(".styled").tablesorter();
    $(".styled").bind('sortEnd', function() {
        var rows = $(this).find('tbody tr');
        rows.removeClass('odd').removeClass('even');
        rows.each(function(idx, i) { $(i).addClass(idx % 2 ? 'even' : 'odd'); });
    });
});
</script>

{% endblock content %}
