{% extends "base.html" %}
{% load number_extras %}
{% block head %}{% endblock head %}
{% block page_title %}
    <div class="index-header">
        {{ sector }}
    </div>
{% endblock page_title %}
{% block content %}
<select id="days">
    <option value="7">7 Days</option>
    <option value="14">14 Days</option>
    <option value="30" selected="selected">30 Days</option>
    <option value="60">60 Days</option>
    <option value="90">90 Days</option>
</select>
<button id="go">Go</button>
<div id="company-view"></div>
<script type="text/javascript">
var sector = '{{ sector }}';
$(document).ready(function() {
    Zero.api({ 
        url: '/company/api/sector/' + sector + '?callback=?',
        callback: function(data) { 
            console.log(data); 
            var table_html = [
                '<table class="styled" id="company-list">',
                    '<thead>',
                    '<tr>',
                        '<th><span class="sorter"></span>Symbol</th>',
                        '<th><span class="sorter"></span>Name</th>',
                        '<th><span class="sorter"></span>Sector</th>',
                        '<th><span class="sorter"></span>Past 30 Days</th>',
                        '<th class="number"><span class="sorter"></span>Current</th>',
                        '<th class="number"><span class="sorter"></span>High</th>',
                        '<th class="number"><span class="sorter"></span>High %</th>',
                        '<th class="number"><span class="sorter"></span>Low</th>',
                        '<th class="number"><span class="sorter"></span>Low %</th>',
                        '<th class="number"><span class="sorter"></span>Oldest</th>',
                        '<th class="number"><span class="sorter"></span>Overall</th>',
                        '<th class="number"><span class="sorter"></span>Overall %</th>',
                    '</tr>',
                    '</thead>',
                    '<tbody></tbody>',
                '</table>'
            ];
            var view = $('#company-view');
            var table = $(table_html.join(''));
            var tbody = table.find('tbody');
            view.append(table);

            for (var i = 0, il = data.length; i < il; i++) {
                var html = [
                    '<tr data-symbol="' + data[i].symbol + '" class="' + (i % 2 ? 'odd' : 'even') + '">',
                        '<td class="symbol-col"><a href="/company/' + data[i].symbol + '">' + data[i].symbol + '</a></td>',
                        '<td class="name-col">' + data[i].name  + '</td>',
                        '<td class="sector-col">' + Zero.sector(data[i].sector)  + '</td>',
                        '<td class="chart-col"></td>',
                        '<td class="number oldest-col"></td>',
                        '<td class="number high-col"></td>',
                        '<td class="number high-pct-col"></td>',
                        '<td class="number low-col"></td>',
                        '<td class="number low-pct-col"></td>',
                        '<td class="number current-col"></td>',
                        '<td class="number overall-col"></td>',
                        '<td class="number overall-pct-col"></td>',
                    '</tr>'
                ].join('');
                tbody.append(html);
            }
            table.tablesorter();
            table.trigger('update');
            table.bind('sortEnd', function() {
                var rows = $(this).find('tbody tr');
                rows.removeClass('odd').removeClass('even');
                rows.each(function(idx, i) { $(i).addClass(idx % 2 ? 'even' : 'odd'); });
            });
        }
    });
});
$('#days').change(function() {
    load_stats({ days: $(this).val() });
});
$('#go').click(function() {
    load_stats({ days: $('#days').val() });
});
function load_stats(options) {
    var rows = $('tr[data-symbol]')
    rows.each(function(idx, i) {
        var $this = $(i);
        var symbol = $this.data('symbol');
        var days = options.days;
        $.ajax({
            url: '/company/api/ohlc/' + symbol + '/' + days + '?callback=?',
            dataType: 'json',
            success: function(data) {
                var chart_col =     $this.find('.chart-col').empty(),
                    current_col =   $this.find('.current-col').empty(),
                    high_col =      $this.find('.high-col').empty(),
                    high_pct_col =  $this.find('.high-pct-col').empty(),
                    low_col =       $this.find('.low-col').empty(),
                    low_pct_col =   $this.find('.low-pct-col').empty(),
                    oldest_col =    $this.find('.oldest-col').empty(),
                    overall_col =   $this.find('.overall-col').empty();
                    overall_pct_col = $this.find('.overall-pct-col').empty();

                var stats = Zero.ohlc_stats(data);
                console.log(stats);
                rickshaw_values = [];
                for (var i = 0, il = stats.ohlc.length; i < il; i++) {
                    rickshaw_values.push({ x: i, y: stats.ohlc[i].close - stats.low });
                }
                var rs = $('<div/>', { 'class': 'sp-' + symbol, style: 'width:300px; height: 32px' }).appendTo(chart_col);
                var graph = new Rickshaw.Graph({
                    element: document.querySelector('.sp-' + symbol),
                    renderer: 'bar',
                    series: [{ data: rickshaw_values, color: 'steelblue' }]
                });
                graph.render();
                $this.data('stats', data);
                current_col     .html('$' + stats.current);
                high_col        .addClass(Zero.number_class(stats.high_diff))       .html('$' + stats.high);
                high_pct_col    .addClass(Zero.number_class(stats.high_diff))       .html(stats.high_diff_pct + '%');
                low_col         .addClass(Zero.number_class(stats.low_diff))        .html('$' + stats.low);
                low_pct_col     .addClass(Zero.number_class(stats.low_diff))        .html(stats.low_diff_pct + '%');
                oldest_col      .addClass(Zero.number_class(stats.oldest_diff)) .html('$' + stats.oldest);
                overall_col     .addClass(Zero.number_class(stats.oldest_diff)) .html('$' + stats.oldest_diff);
                overall_pct_col .addClass(Zero.number_class(stats.oldest_diff_pct)) .html(stats.oldest_diff_pct + '%');
    
                if (rows[idx] === rows[rows.length - 1] || idx % 10 === 0) {
                    $('table').trigger('update');
                }
            }
        });
    });
}
</script>
{% endblock content %}
